@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

body {

    font-family: 'Covered By Your Grace', cursive;
    background-color: rgb(253, 248, 242);
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}